EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_appwrite_project_id
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_DATABASE_ID=your_database_id
EXPO_PUBLIC_APPWRITE_AGENTS_COLLECTION_ID=agents
EXPO_PUBLIC_APPWRITE_GALLERIES_COLLECTION_ID=galleries
EXPO_PUBLIC_APPWRITE_REVIEWS_COLLECTION_ID=reviews
EXPO_PUBLIC_APPWRITE_PROPERTIES_COLLECTION_ID=properties
EXPO_PUBLIC_APPWRITE_CATEGORIES_COLLECTION_ID=categories
EXPO_PUBLIC_APPWRITE_SUBSCRIPTION_PLAN_COLLECTION_ID=subscription_plans
EXPO_PUBLIC_APPWRITE_USER_CARDS_COLLECTION_ID=user_cards
EXPO_PUBLIC_APPWRITE_STORE_IMAGES_BUCKET_ID=store-images
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
